.modalWrapper {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;

    .modal {
        position: relative;
        color: #000;
        background: #fefefe;
        padding: 40px 20px 20px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 80%;
        max-width: 700px;

        h2{
            text-align: center;
        }

        .closeModal{
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
            width: 24px;
            height: 24px;

        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            padding: 20px 50px;
            justify-content: center;
            align-items: center;

            .fields {
                width: 100%;
                display: flex;
                gap: 30px;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                label {
                    text-align: left;
                }

                input, select {
                    outline: none;
                    border: none;
                    background: inherit;
                    border-bottom: #000 solid 2px;
                    padding: 1px;
                    line-height: 0;
                    width: 100%;
                    max-width: 250px;
                }

            }

            div {
                width: 100%;
                display: flex;
                gap: 20px;
                justify-content: center;
                align-items: center;
                padding: 0 30px;
                margin-top: 20px;
                flex-wrap: wrap;

                button {
                    width: 100%;
                    min-width: 100px;
                    max-width: 200px;
                    height: 30px;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    background: rgb(40, 100, 174);


                }
            }
        }

    
    }
}